* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}

.main-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.right-div {
  width: 180px;
  display: flex;
  width: 180px;
  height: auto;
  align-items: center;
  justify-content: start;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*
 If you have previously set a specific width for .right-div and you want to remove that constraint 
 when the screen width is below 800 pixels, this rule can be used.
 */
@media (max-width: 800px) {
  .right-div {
    width: unset;
  }
}

.large-logo {
  /* display: block; */
  width: 100px;
  height: auto;
  padding: 10px 6px;
}

.large-logo:hover {
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.small-logo {
  display: none;
  width: 42px;
  height: auto;
  padding: 10px 6px;
}

.small-logo:hover {
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.middle-div {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.middle-div input {
  flex: 1;
  width: 0;
  height: 40px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 15px;
}
.middle-div div {
  height: 40px;
  width: 45px;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: none;
  background: #febd69;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.middle-div div img {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.left-div {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.left-div .div1 {
  padding: 8px;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.left-div .div1:hover {
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  position: relative;
  margin-right: 5px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-count {
  position: absolute;
  top: 3px;
  right: 45px;
  background: transparent;
  color: red;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 26px;
}

.left-div .div2:hover {
  border: 1px solid white;
  border-radius: 3px;
}

.span1 {
  display: block;
  font-size: 13px;
}

.span2 {
  display: block;
  font-size: 15px;
  font-weight: 700;
}
.left-div a img {
  width: 50px;
  height: auto;
}

@media (max-width: 600px) {
  /* .span1 {
    font-size: 10px;
    letter-spacing: -0.5px;
  }

  .span2 {
    font-size: 12px;
    letter-spacing: -0.5px;
  }

  .left-div .div1 {
    white-space: nowrap;
    padding: 3px;
  } */

  /* .middle-div input {
    max-width: 100px;
  } */

  .small-logo {
    display: block;
  }

  .large-logo {
    display: none;
  }
}
